h1 {
  font-size: 2em;
  padding: 1em;
}

table {
  margin-bottom: 5em;
}

td {
  position: relative;
  width: 1em;
  height: 1em;
  padding: 0.5em;
}

th {
  width: 1em;
  height: 1em;
  padding: 0.5vmin 0em;
  background-image: url('https://i.ibb.co/5K9XtCp/Dark-wood-background-brown-color-Close-up-of-wall-made-of-wooden-planks.jpg');
}

span {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
}

thead, th:last-child {
  transform: rotateZ(180deg);
}

tbody tr:nth-child(odd) .square:nth-child(even),
tbody tr:nth-child(even) .square:nth-child(odd) {
  background-image: url('https://i.ibb.co/xSQq1cb/marble-white.png');
}

.square {
  background-image: url('https://i.ibb.co/GkNggHb/marble-black.png');

  svg {
    transform: translateX(-50%);
  }
}

.size-range {
  padding-bottom: 2em;
}

.size-number {
  font-size: 1em;
  display: flex;
}

.board {
  min-height: 70vmin;
  min-width: 70vmin;
}

.top-left-corner,
.bottom-right-corner {
  border-radius: 1em 0em 0em 0em;
}

.top-right-corner,
.bottom-left-corner {
  border-radius: 0em 0em 0em 1em;
}


@media (max-width: 400px) {
  .board {
    min-height: 95vmin;
    min-width: 95vmin;
  }
}

@media (min-width: 700px) {
  .board {
    min-height: 50vmin;
    min-width: 50vmin;
  }
}

@media (min-width: 1200px) {
  .board {
    min-height: 38.5vmin;
    min-width: 38.5vmin;
  }
}