h1 {
  font-size: 2em;
  padding: 1em;
}

table {
  margin-bottom: 5em;
}

td {
  position: relative;
  width: 1em;
  height: 1em;
  padding: 0.5em;
}

th {
  width: 1em;
  height: 1em;
  padding: 0.5vmin 0em;
}

.frame-marble {
  color: #000000c9;
  background-image: url('https://i.ibb.co/28M6TB8/marble-texture.jpg');
}

.frame-wood {
  background-image: url('https://i.ibb.co/5K9XtCp/Dark-wood-background-brown-color-Close-up-of-wall-made-of-wooden-planks.jpg');
}

.frame-glass {
  color: rgb(0, 0, 0);
  background: rgba(252, 252, 252, 0.418);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
}


span {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2vmin;
}

thead, th:last-child {
  transform: rotateZ(180deg);
}

.square {
  svg {
    transform: translateX(-50%);
  }
}

.square-marble {
  background-image: url('https://i.ibb.co/GkNggHb/marble-black.png');
}

.table-body-marble tr:nth-child(odd) .square:nth-child(even),
.table-body-marble tr:nth-child(even) .square:nth-child(odd) {
  background-image: url('https://i.ibb.co/xSQq1cb/marble-white.png');
}

.square-wood {
  background-image: url('https://i.ibb.co/5K9XtCp/Dark-wood-background-brown-color-Close-up-of-wall-made-of-wooden-planks.jpg');
}

.table-body-wood tr:nth-child(odd) .square:nth-child(even),
.table-body-wood tr:nth-child(even) .square:nth-child(odd) {
  background-image: url('https://i.ibb.co/Hnfkz15/white-wood.jpg');
}

.square-glass {
  background: rgba( 4, 4, 4, 0.50 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 9.5px );
  -webkit-backdrop-filter: blur( 9.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.table-body-glass tr:nth-child(odd) .square:nth-child(even),
.table-body-glass tr:nth-child(even) .square:nth-child(odd) {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4.0px );
  -webkit-backdrop-filter: blur( 4.0px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.size-range {
  padding-bottom: 2em;
}

.size-number {
  font-size: 1em;
  display: flex;
}

.board {
  min-height: 70vmin;
  min-width: 70vmin;
}

.top-left-corner,
.bottom-right-corner {
  border-radius: 1em 0em 0em 0em;
}

.top-right-corner,
.bottom-left-corner {
  border-radius: 0em 0em 0em 1em;
}

.theme-picker {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 1em;

  h2 {
    padding-bottom: 1em;
  }

  ul {
    display: flex;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    padding-bottom: 0.5em;
    text-transform: capitalize;
  }
}

.marble-picker,
.wood-picker,
.glass-picker {
  width: 2em;
  height: 2em;
  border: 1px solid black;
  border-radius: 50%;
}

.marble-picker {
  background: url('https://media.bahag.cloud/m/484660/12.jpg');
}

.wood-picker {
  margin: 0em 3em;
  background: url('https://i.ibb.co/bvMZqx4/wood.jpg');
}

.glass-picker {
  background-color: rgba(42, 139, 168, 0.5);
}

@media (max-width: 400px) {
  .board {
    min-height: 95vmin;
    min-width: 95vmin;
  }
}

@media (min-width: 700px) {
  .board {
    min-height: 50vmin;
    min-width: 50vmin;
  }
}

@media (min-width: 1200px) {
  .board {
    min-height: 38.5vmin;
    min-width: 38.5vmin;
  }
}