.white {
  position: absolute;
  top: 12%;
}

.black {
  position: absolute;
  top: 12%;
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="range"] {
  -webkit-appearance: none;
  height: 4px;
  width: 40vmin;
  border-radius: 5px;
  background-color: rgb(119, 119, 119);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: rgb(119, 119, 119);
  cursor: ew-resize;
  border: 3px solid transparentize($color: #000000, $amount: 0);
  transition: background .3s ease-in-out;
}